/* Desktop view */
.order-button-desktop {
    display: none; /* Hidden by default, shown in desktop view */
}

/* Mobile view */
.order-button-mobile {
    display: inline-block; /* Shown by default, hidden in desktop view */
}

/* Custom Navbar Styling */
.navbar {
    padding: 10px 15px; /* Increase top and bottom padding */
    font-size: 1.1rem; /* Increase font size if needed */
}

/* Adjust the size of the navbar brand/logo */
.navbar-brand img {
    height: 60px; /* Adjust the height of your logo */
}

/* Adjust the navbar link padding for larger navbar */
.navbar-nav .nav-item .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
}

.maps-container {
    display: flex;
    justify-content: space-around; /* Adjusts spacing between iframes */
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
}

.responsive-map {
    width: 100%; /* Full width for all views */
    height: 450px; /* Adjust height as needed */
    border: 0;
}



#home {
    position: relative;
    height: 100vh; /* 100% of the viewport height */
    width: 100vw; /* 100% of the viewport width */
    overflow: hidden; /* Prevents scrollbars if image is larger than viewport */
}

#home img {
    width: 100%; 
    height: 100%;
    object-fit: cover; /* Ensures the image covers the div without being stretched */
    object-position: center; /* Adjust this if you need to focus on a specific part of the image */
}

#home .text-button-container {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Center the container */
    z-index: 10; /* Ensure it's above the image */
}

.header-image-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
    z-index: 1; /* Ensures the overlay is above the image, but below the text */
}

.header-text {
    position: absolute;
    /* ... other styling ... */
    z-index: 2; /* Higher than the overlay */
}

section {
    scroll-margin-top: 80px; /* Adjust this value based on your navbar's height */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .order-button-desktop {
        display: inline-block; /* Show in desktop view */
    }
    .order-button-mobile {
        display: none; /* Hide in desktop view */
    }
    .responsive-map {
        width: 100%; /* Full width for mobile view */
    }
}